- content_for :title do
  &rarr;
  = t('.title')
- content_for :script do
  :javascript
    $(document).ready(function() { new window.Domains('#content', {}); });


= link_to '#!new', :class => 'add-domain btn btn-large btn-inverse' do
  %span= t '.create'

%ul#domains.list
  - @domains.each do |domain|
    %li{:id => "domain_#{domain.id}"}
      .item
        .iconat @
        .btn-group
          = link_to t(".edit"), "#!edit/#{domain.id}", :class => 'label edit'
          = link_to t(".delete"), "#!delete/#{domain.id}", :'data-msg' => t(".confirm"), :class => 'label label-warning rm'
        .item-content
          = link_to domain.name, "#!show/#{domain.id}", :class => 'item-label'
          = link_to t(".manage"), "#!show/#{domain.id}", :class => 'label label-info manage'
          = link_to t(".nomanage"), "#!hide/#{domain.id}", :class => 'label dn nomanage'


#domains_JSON.dn= @domains.to_json(:include => [:virtual_users, :virtual_aliases])

#EJS.dn
  = render :partial => '/domains/templates'
  = render :partial => '/aliases/templates'
  = render :partial => '/users/templates'
