= field_set_tag t('server.info') do
  = property_input form, @properties['mail_name']
  = property_input form, @properties['myhostname']
  = property_input form, @properties['mydomain']
  = property_input form, @properties['smtpd_banner']
