= field_set_tag t('server.sender_test') do
  = property_input form, @properties['mynetworks']
  = property_input form, @properties['reject_rbls']
= field_set_tag t('server.content_test') do
  = property_input form, @properties['message_size_limit']
